@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
}

.main {
  margin-left: 258px;
}

.breadcrumb {
  background:linear-gradient(90deg, #f2f2f2 0%, #d5d6d9 40%, #e1e1e3 45%, #efefef 100%);
  padding-left: 7px;
}

.daftar-buku {
  margin-left: 0px;
}

.daftar-buku label {
  font-size: 14px;
  margin-top: -12px;
}

.daftar-buku h6 {
  margin-bottom: 20px;
}

.daftar-buku input {
  height: 27px;
  margin-top: -8px;
  border-radius: 0;
}

.tambah-buku {
  background-color: #ececec;
  margin-top: -16px;
  padding-top: 10px;
  padding-bottom: 6px;
}

.btn-tambah-buku {
  border-radius: 0;
  padding: 5px;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  margin-left: 185px;
}

.btn-tambah-buku:hover {
  background-color: #2d4957;
  color: #d6d6d6;
}

.btn-tambah-buku-tunggu {
  margin-left: 168px;
  background-color: #31505f;
  color: rgba(255, 255, 255, 0.6);
}

.img-buku {
  width: 55%;
}

.column-foto {
  width: 13%;
}

.table-orange {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.table-daftar-buku {
  margin-left: -6px;
}

.btn-daftar-buku {
  border-radius: 0;
  margin: -35px 0 -35px 0px;
}

.alert-success,
.alert-danger {
  border-radius: 0;
  width: 40%;
  margin-left: 60%;
  height: 70px;
  padding: 10px;
  position: relative;
  z-index: 1;
  margin-bottom: -49px;
  margin-top: -16px;
}

.alert-success {
  background-color: rgba(209, 230, 221, 0.7) !important;
  border: none;
}

.alert-danger {
  background-color: rgba(247, 215, 218, 0.7) !important;
  border: none;
}

.bg-success:hover {
  color: #b8b8b8;
}

.btn-export {
  margin-left: 0px;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.btn-hapus {
  background:linear-gradient(90deg, #8c0404 0%, #9c0000 30%, #cc0a0d 79%, #8f0e10 100%);
  color: white ;
}

.detail-buku img {
  width: 100%;
  margin: 20px 0 0 50px;
}

.prev {
  color: #bc542d !important;
}

.icon-back {
  font-size: 20px;
  color: white;
  padding: 5px 197px 5px 10px;
  background-color: #243e4b;
}

.icon-back:hover {
  color: #618496;
}

.detail-buku{
  color: #4d4e4e;
}

.detail-buku h3 {
  margin: 12px 0 0 40px;
}

.detail-buku h6 {
  margin: -5px 0 0 41px;
  font-size: 14px;
  color: #949494;
}

.table-detail-buku {
  border: 1px solid #adaeb1;
  width: 65%;
  margin: 14px 0 0 42px;
}

.table-detail-buku th {
  background-color: #ebebeb !important;
  width: 40%;
}

.btn-edit-buku {
  margin: 34px 0 0 42px;
}

.form-control-sm {
  border-radius: 0;
  width: 85%;
}

.col-form-label {
  margin-top: -5px;
}

.modal-body {
  padding-left: 50px;
}

.modal-header{
  background-color: #bc542d;
  color: white;
}

.btn {
  border-radius: 0;
}

.btn-edit {
  background-color: #bc542d;
  border-color: transparent;
}

.btn-edit:hover {
  background-color: #cc6a46;
  border-color: #bd6646 !important;
}

.btn-close-alert {
  margin-left: 35px;
}

svg {
  width: 3%;
  color: #bc542d;
}

.flex-1 {
  display: none !important;
}

.text-sm span {
  color: #bc542d;
}

.bg-white {
  color: #bc542d;
}

.btn-search {
  margin: 0px 0 -38px 650px;
  background-color: #243e4b;
  color: white;
  width: 9%;
}

.btn-search:hover {
  background-color: #344f5c;
  color: rgba(255, 255, 255, 0.6);
}

.form-search {
  width: 29%;
  height: 39px !important;
  margin: 0 0 -39px 420px;
}

.btn-refresh {
  margin: -16px 0 -22px 721px;
  background-color: #bc542d;
  color: white;
}

.btn-refresh:hover {
  background-color: #bd6646;
  color: rgba(255, 255, 255, 0.6);
}

.btn-edit-tunggu {
  background-color: #bd6646 !important;
  border-color: #bd6646 !important;
}

.tambah-buku textarea {
  height: 40px;
  width: 100%;
}

.tambah-petugas {
  padding-bottom: 88px !important;
}

.alert-not-found {
  width: 100%;
  margin: -13px 0 0 -6px;
  padding: 5px;
  height: 35px;
}

.detail-petugas h6 {
  margin-top: 5px !important;
}

.profile-saya {
  background-color: #f1f0f0;
  margin-left: 20px;
  width: 58% !important;
}

.profile-saya h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  width: 657px !important;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: -12px;
}

.profile-saya img {
  margin: 0px 41%;
  border-radius: 90px;
  height: 103px;
  width: 17%;
}

.ml-35 {
  margin-left: 35px;
}

.profile-saya label {
  font-size: 14px;
  margin-left: 0px;
}

.profile-saya input {
  margin-left: -50px;
  height: 30px;
}

.profile-saya textarea {
  margin-left: -50px;
  height: 35px;
}

.btn-save {
  width: 18%;
  padding: 5px;
  border-radius: 0;
  margin: -9px 0 0 197px;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.btn-save:hover {
  color: rgba(255, 255, 255, 0.7);
}

.btn-secondary {
  margin-top: -9px;
  border-radius: 0;
  height: 36px;
}

.btn-secondary:hover {
  color: rgba(255, 255, 255, 0.7);
}

.profile-saya .invalid-feedback {
  margin-left: -50px;
}

.ubah-pass h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  width: 403px;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: -12px;
}

.ubah-pass label {
  margin-left: -44px;
  font-size: 14px;
}

.ubah-pass input {
  height: 30px;
  width: 120%;
}

.ubah-pass {
  background-color: #f1f0f0;
  margin-left: 19px;
  width: 37%;
  height: 215px;
}

.btn-ubah {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  border-radius: 0;
  margin-top: -8px;
  margin-left: 4px;
}

.buku-table div.dataTables_wrapper div.dataTables_length label,
.petugas-table div.dataTables_wrapper div.dataTables_length label,
.anggota-table div.dataTables_wrapper div.dataTables_length label {
  margin-left: 265px;
  margin-bottom: 10px;
  margin-top: -25px;
}

.laporan-peminjaman-table div.dataTables_wrapper div.dataTables_length label,
.laporan-pengembalian-table div.dataTables_wrapper div.dataTables_length label {
  margin-left: 170px;
  margin-bottom: 10px;
  margin-top: -26px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%) !important;
}

.current {
  color: white !important;
}

div.dataTables_wrapper div.dataTables_filter label {
  margin-top: -20px;
  margin-right: 10px;
}

.menu-list .active {
    background-color: #e07a54;
}

.menu-list .active a {
    color: rgba(255, 255, 255, 0.7) !important;
}

.laporan-peminjaman-table,
.laporan-pengembalian-table {
  margin: 0 5px;
}

.laporan-peminjaman-table div.dataTables_wrapper div.dataTables_filter label,
.laporan-pengembalian-table div.dataTables_wrapper div.dataTables_filter label {
  margin-top: -29px;
  margin-right: 0px;
}  

.btn-secondary {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%)
}

.buttons-print,
.buttons-pdf,
.buttons-excel {
  margin-left: 3px !important;
}

.jml-buku {
  height: 100px;
  width: 250px;
  background-color: #dd4c39;
  margin: -5px 0 0 10px;
}

.jml-buku .row {
  margin-bottom: 1px;
}

.jml-buku .col-md-4 i {
  font-size: 60px;
  color: #bd3f30;
  margin: 10px -20px;
}

.jml-buku h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-buku p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-buku a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #bc402f;
}

.jml-buku a:hover{
  color: rgba(255, 255, 255, 0.7);
  background-color: #cc4230;
}

.jml-user {
  height: 100px;
  width: 250px;
  background-color: #00c0ee;
  margin: -5px 0 0 4px;
}

.jml-user .row {
  margin-bottom: 1px;
}

.jml-user .col-md-4 i {
  font-size: 60px;
  color: #00add7;
  margin: 10px -20px;
}

.jml-user h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-user p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-user a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #00add7;
}

.jml-user a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #20b3d8;
}

.jml-peminjaman {
  height: 100px;
  width: 250px;
  background-color: #00a65a;
  margin: -5px 0 0 0;
}

.jml-peminjaman .row {
  margin-bottom: 1px;
}

.jml-peminjaman .col-md-4 i {
  font-size: 60px;
  color: #009551;
  margin: 10px -20px;
}

.jml-peminjaman h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-peminjaman p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-peminjaman a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #009551;
}

.jml-peminjaman a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #059b57;
}

.jml-pengembalian {
    height: 100px;
    width: 250px;
    background-color: #f39c11;
    margin: -5px 0 0 -5px;
}

.jml-pengembalian .row {
    margin-bottom: 1px;
}

.jml-pengembalian .col-md-4 i {
    font-size: 60px;
    color: #da8c10;
    margin: 10px -20px;
}

.jml-pengembalian h1 {
    color: white;
    margin: 10px 0 0 40px;
}

.jml-pengembalian p {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    margin: -5px 0 0 40px;
}

.jml-pengembalian a {
    color: white;
    font-size: 12px;
    padding: 3px 103px;
    background-color: #da8c10;
}

.jml-pengembalian a:hover {
    color: rgba(255, 255, 255, 0.7);
    background-color: #e49619;
}

.daftar-jumlah {
  background-color: #f8f8f8;
  padding: 30px 0;
  margin-top: -16px;
}

.clock-container {
  position: relative;
  height: 40vw;
  width: 40vw;
  background: url(/img/clock.png) no-repeat;
  background-size: 25%;
  margin-left: 85%;
  margin-top: -70px;
}

#hour,
#minute,
#second {
  position: absolute;
  background: white;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
  width: .4%;
  height: 5%;
  top: 7.7%;
  left: 12.7%;
  opacity: 0.8;
}

#minute {
  width: 0.3%;
  height: 7%;
  top: 5.6%;
  left: 12.7%;
  opacity: 0.8;
}

#second {
  width: 0.1%;
  height: 10%;
  top: 2.4%;
  left: 13%;
  opacity: 0.8;
}

.point {
  color: white;
  font-size: 60px;
  margin: 6px 50px;
}

.date-desc {
  margin: 0px 812px;
  background-color: #243e4b;
  padding: 21px 0 113px 20px;
  margin-bottom: -108px;
  color: white;
  border-radius: 0 0 0 127px;
}

.date-desc h4 {
  margin-top: -9px;
}

.date-desc h5 {
  margin-top: -5px;
}

.grf-peminjaman {
  margin-bottom: -250px;
}

.grafik-info {
  margin-top: -300px;
}

.grafik-info p {
  text-align: center;
  font-size: 12px;
  color: #807f7f;
}