@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Encode+Sans+SC&family=Yellowtail&display=swap');

body {
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  text-decoration: none;
}

.main {
  margin-left: 280px;
  margin-top: -451px;
}

.img-top {
  width: 100%;
  height: 180px;
  filter: grayscale(70%);
  margin-top: -110px;
}

.top-bg h1 {
  font-family: 'Encode Sans SC', sans-serif;
  color: #253e4c;
  text-align: center;
  margin-bottom: -48px;
  margin-top: 25px;
  z-index: 12;
  position: relative;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 35px 0;
  font-size: 50px;
  letter-spacing: 30px;
  font-weight: bold;
}

.top-bg span {
  font-family: 'Yellowtail', cursive;
  color: #bc542e;
  font-weight: normal;
}

.nav-anggota {
  height: 445px;
  background-color: #263e4a;
  width: 20%;
  margin: 38px 0 0 5px;
}

.nav-anggota h4 {
  color: white;
  letter-spacing: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.divider-menu {
  border-bottom: 3px solid #38505c;
}

.menu-list {
  color: white;
}

.menu-list li {
  list-style: none;
  margin-left: -32px;
  padding: 10px 0;
  text-align: center;
}

.menu-list a {
  color: white;
}

.divider-list {
  border-bottom: 1px solid #38505c;
  margin-left: -32px;
}

.menu-list li:hover {
  background-color: #344e5c;
}

.menu-list a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.active {
  background-color: #38505c; 
}

.active a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.list-end {
  margin-top: 125px;
}

.divider-buku {
  border-bottom: 2px solid #263e4a;
  width: 70%;
  margin-top: -6px;
}

.daftar-buku {
  margin-top: 10px;
}

.daftar-buku img{
  width: 70%;
}

.daftar-buku h6 {
  font-weight: bold;
}

.daftar-buku p {
  margin-top: -10px;
  font-size: 13px;
}

.out-stok {
  filter: opacity(0.2);
}

.cari input{
  height: 25px;
  margin-left: 5px;
  width: 80%;
}

.cari p {
  margin-left: 74%;
  font-size: 15px;
}

svg {
width: 3%;
color: #bc542d;
}

.flex-1 {
display: none !important;
}

.text-sm span {
color: #bc542d;
}

.card {
  width: 100%;
  height: 117px;
}

.img-fluid {
  max-width: 70%;
}

.card-body {
  margin: -15px 0 0 -40px;
  font-size: 12px;
}

.card-body h6 {
  font-weight: bold;
}

.card-text {
  margin-bottom: 3px;
  margin-top: -4px;
}

.card-body span {
  font-weight: bold;
}

.card-body .bg-success {
  width: 102%;
  padding: 4px 0;
  font-size: 12px;
  margin-top: -4px;
}

.batas_waktu {
  font-size: 13px;
  padding: 0px 22px;
}

.card-body a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.modal-header {
  color: white;
  background:linear-gradient(90deg, #0f0f69 0%, #0b35b3 34%, #5188df 82%, #1619b3 100%);
}

.btn-simpan {
  background:linear-gradient(90deg, #0f0f69 0%, #0b35b3 34%, #5188df 82%, #1619b3 100%);
  margin-top: -8px;
  border-radius: 0;
}

.alert {
  width: 31%;
  border-radius: 0;
  position: relative;
  z-index: 1;
  margin: -18px 0 -55px 760px;
  border: none;
}

.alert-success {
  background-color: rgba(209, 230, 221, 0.9) !important;
}

.alert-danger {
  background-color: rgba(247, 215, 218, 0.9) !important;
}

.btn-success {
  width: 100%;
  padding: 0 0;
  font-size: 13px;
}

.greet {
  margin: 10px 0 -33px 11px;
}

.divider-history {
  border-bottom: 2px solid #263e4a;
  width: 20%;
  margin-top: -6px;
  margin-bottom: 5px;
}

.divider-dipinjam {
  border-bottom: 2px solid #263e4a;
  width: 30%;
  margin-top: -6px;
  margin-bottom: 5px;
}

h5 a {
  color: #ba552f;
}

h5 a:hover {
  color: #e27f5c;
}

thead>tr {
  background:linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.odd,
.even,
.sorting_1 {
  border-color: #e0e1e3 !important;
}

.current {
  color: white !important;
  background:linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  color: white !important;
}

.dataTables_filter {
  margin-bottom: 5px;
}

.profile-saya {
  background-color: #f1f0f0;
  margin-left: 12px;
  width: 58% !important;
}

.profile-saya h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  width: 634px !important;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: -12px;
}

.profile-saya img {
  margin: 0px 41%;
  border-radius: 90px;
  height: 103px;
  width: 17%;
}

.ml-35 {
  margin-left: 35px;
}

.profile-saya label {
  font-size: 14px;
  margin-left: 0px;
}

.profile-saya input {
  margin-left: -50px;
  height: 30px;
}

.profile-saya textarea {
  margin-left: -50px;
  height: 35px;
}

.btn-save {
  width: 18%;
  padding: 5px;
  border-radius: 0;
  margin: -9px 0 0 192px;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.btn-save:hover {
  color: rgba(255, 255, 255, 0.7);
}

.btn-secondary {
  margin-top: -9px;
  border-radius: 0;
  height: 36px;
}

.btn-secondary:hover {
  color: rgba(255, 255, 255, 0.7);
}

.profile-saya .invalid-feedback {
  margin-left: -100px;
}

.ubah-pass h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  width: 403px;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: -12px;
}

.ubah-pass label{
  margin-left: -44px;
  font-size: 14px;
}

.ubah-pass input {
  height: 30px;
  width: 120%;
}

.ubah-pass {
  background-color: #f1f0f0;
  margin-left: 19px;
  width: 37%;
  height: 215px;
}

.btn-ubah {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  border-radius: 0;
  margin-top: -8px;
  margin-left: 4px;
}

.jml-hrs-dikembalikan {
  height: 100px;
  width: 250px;
  background-color: #dd4c39;
  margin: -5px 0 0 -2px;
}

.jml-hrs-dikembalikan .row {
  margin-bottom: 1px;
}

.jml-hrs-dikembalikan .col-md-4 i {
  font-size: 60px;
  color: #bd3f30;
  margin: 10px -20px;
}

.jml-hrs-dikembalikan h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-hrs-dikembalikan p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-hrs-dikembalikan a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #bc402f;
}

.jml-hrs-dikembalikan a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #cc4230;
}

.jml-dikembalikan {
  height: 100px;
  width: 250px;
  background-color: #00c0ee;
  margin: -5px 0 0 0;
}

.jml-dikembalikan .row {
  margin-bottom: 1px;
}

.jml-dikembalikan .col-md-4 i {
  font-size: 60px;
  color: #00add7;
  margin: 10px -20px;
}

.jml-dikembalikan h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-dikembalikan p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-dikembalikan a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #00add7;
}

.jml-dikembalikan a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #20b3d8;
}

.jml-buku {
  height: 100px;
  width: 250px;
  background-color: #00a65a;
  margin: -5px 0 0 0;
}

.jml-buku .row {
  margin-bottom: 1px;
}

.jml-buku .col-md-4 i {
  font-size: 60px;
  color: #009551;
  margin: 10px -20px;
}

.jml-buku h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-buku p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-buku a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #009551;
}

.jml-buku a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #059b57;
}

.jml-pengembalian {
  height: 100px;
  width: 250px;
  background-color: #f39c11;
  margin: -5px 0 0 -5px;
}

.jml-pengembalian .row {
  margin-bottom: 1px;
}

.jml-pengembalian .col-md-4 i {
  font-size: 60px;
  color: #da8c10;
  margin: 10px -20px;
}

.jml-pengembalian h3 {
  color: white;
  margin: 16px 0 0 40px;
}

.jml-pengembalian p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px 0 0 40px;
}

.jml-pengembalian a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #da8c10;
}

.jml-pengembalian a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #e49619;
}

.daftar-jumlah {
  background-color: #f8f8f8;
  padding: 30px 0;
  margin: 0;
  width: 100%;
}

.most-book h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  padding: 10px;
  width: 50%;
  border-radius: 0 0 62px 0;
}

.most-book img {
  width: 120%;
}

.most-book th {
  background-color: #dfdfdf;
}

.table-bordered {
  border-color: #9e9e9e !important;
}

.svg-illust img{
  width: 50% !important;
  margin: 30px 115px !important;
}

.desc-buku table {
  margin-top: -300px;
  width: 70%;
  font-size: 13px;
  margin-bottom: 100px;
  background-color: rgba(255, 255, 255, .8);
  position: relative;
  opacity: 0;
}

.desc-buku table:hover {
  opacity: 1;
}

.none-peminjaman {
  text-align: center;
  border-top: 1px solid #c2c2c2;
  border-bottom: 1px solid #c2c2c2;
  padding: 6px;
  margin-left: 7px;
}
