@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  overflow-x: hidden !important;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.main {
  margin-left: 258px;
}

.breadcrumb {
  background: linear-gradient(90deg, #f2f2f2 0%, #d5d6d9 40%, #e1e1e3 45%, #efefef 100%);
  padding-left: 7px;
}

.table-orange {
  background:linear-gradient(90deg, #243e4b 0%, #164159 30%, #306480 74%, #243e4b 100%);
  color: white;
}

.column-foto {
  width: 13%;
}

.img-buku {
  width: 55%;
}

.table-buku-petugas {
  width: 99%;
  margin-left: 5px;
}

.btn-tambah-buku {
  background:linear-gradient(90deg, #243e4b 0%, #164159 30%, #306480 74%, #243e4b 100%);
  color: white;
  border-radius: 0;
  border: none;
  margin: 0px 0 5px 5px;
}

.buku-table a,
.anggota-table a {
  margin: 0px 0 -102px 16px !important; 
}

.btn-tambah-buku:hover {
  color: rgba(255, 255, 255, 0.7);
}

.btn {
  border-radius: 0;
}

.modal-footer .btn-secondary {
  margin-top: 1px;
}

.modal-header {
  background:linear-gradient(90deg, #243e4b 0%, #164159 30%, #306480 74%, #243e4b 100%);
  color: white;
}

.form-label {
  margin-top: -10px;
}

.modal-body input{
  height: 30px;
  border-radius: 0;
}

svg {
    width: 3%;
    color: #bc542d;
}

.flex-1 {
    display: none !important;
}

.text-sm span {
    color: #bc542d;
}

.bg-white {
    color: #bc542d;
}

.alert {
  width: 31%;
  border-radius: 0;
  position: relative;
  z-index: 1;
  margin: -18px 0 -55px 760px;
  border: none;
}

.alert-success {
  background-color: rgba(209, 230, 221, 0.9) !important;
}

.alert-danger {
    background-color: rgba(247, 215, 218, 0.9) !important;
}

.modal-body textarea {
  height: 50px;
  width: 100%;
}

.form-peminjaman h6 {
  color: #4f4b4b;
  margin: 10px 0 15px 8px;
}

.form-peminjaman {
  background-color: #f7f7f7;
  margin-top: -16px;
  margin-bottom: 10px;
}

.form-peminjaman label {
  margin-left: 9px;
  font-size: 13px;
}

.form-peminjaman input {
  height: 25px;
  border-radius: 0;
  width: 80%;
  margin: -7px 0 0 9px;
}

.catat-peminjaman {
  border-right: 1px solid #919191;
}

.btn-peminjaman {
  background:linear-gradient(90deg, #243e4b 0%, #164159 30%, #306480 74%, #243e4b 100%);
  color: white;
  border-radius: 2px;
  margin: -5px 0 5px 9px;
  padding: 4px 5px;
}

.btn-peminjaman:hover {
  color: rgba(255, 255, 255, 0.7);
}

.dataTables_wrapper {
  margin : 16px !important;
}

.dataTables_filter {
  margin-bottom: 10px;
}

th.sorting.sorting_asc::after {
  right: 22px !important;
}

th.sorting.sorting_asc::before {
  right: 30px !important;
}

th.sorting::after {
    right: 22px !important;
}

th.sorting::before {
    right: 30px !important;
}

.current {
  background:linear-gradient(90deg, #243e4b 0%, #164159 30%, #306480 74%, #243e4b 100%) !important;
  padding: 3px 15px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: white !important;
}

.breadcrumb-link a{
  color: #bc542d !important;
}

.table-detail-peminjaman th {
  background-color: #d5d6d9;
  width: 170px;
}

.table-detail-peminjaman {
  border-color: #acacac;
  margin-left: -40px;
}

.data-peminjam img {
  width: 66%;
  margin-left: 20px;
}

.data-peminjam {
  background-color: #f8f5f5;
  margin-top: -16px;
  padding-top: 20px;
  margin-bottom: 10px;
}

.btn-simpan {
  background-color: #bc542d;
  border-color: transparent;
}

.btn-simpan:hover {
  background-color: #cc6a46;
  border-color: #bd6646 !important;
}

.btn-simpan-tunggu {
  background-color: #bd6646 !important;
  border-color: #bd6646 !important;
}

.data-peminjaman label{
  margin-top: -15px;
  font-size: 13px;
}

.data-peminjaman input {
  font-size: 12px;
  height: 0px;
  margin-top: -10px;
}

.data-peminjaman {
  background-color: #f7f7f7;
  margin: -16px 0 0 -16px;
  width: 107%;
  padding-top: 20px;
}

.buku-table div.dataTables_wrapper div.dataTables_length label,
.anggota-table div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  margin-left: 110px;
  margin-top: -15px;
}

.buku-table div.dataTables_wrapper div.dataTables_filter label,
.anggota-table div.dataTables_wrapper div.dataTables_filter label {
  margin-top: -19px;
}

.profile-saya {
  background-color: #f1f0f0;
  margin-left: 20px;
  width: 58% !important;
}

.profile-saya h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  width: 657px !important;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: -12px;
}

.profile-saya img {
  margin: 0px 41%;
  border-radius: 90px;
  height: 103px;
  width: 17%;
}

.ml-35 {
  margin-left: 35px;
}

.profile-saya label {
  font-size: 14px;
  margin-left: 0px;
}

.profile-saya input {
  margin-left: -50px;
  height: 30px;
}

.profile-saya textarea {
  margin-left: -50px;
  height: 35px;
}

.btn-save {
  width: 18%;
  padding: 5px;
  border-radius: 0;
  margin: -9px 0 0 197px;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.btn-save:hover {
  color: rgba(255, 255, 255, 0.7);
}

.btn-secondary {
  margin-top: -9px;
  border-radius: 0;
  height: 36px;
}

.btn-secondary:hover {
  color: rgba(255, 255, 255, 0.7);
}

.profile-saya .invalid-feedback {
  margin-left: -50px;
}

.ubah-pass h5 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  width: 403px;
  padding: 5px 10px;
  font-size: 16px;
  margin-left: -12px;
}

.ubah-pass label {
  margin-left: -44px;
  font-size: 14px;
}

.ubah-pass input {
  height: 30px;
  width: 120%;
}

.ubah-pass {
  background-color: #f1f0f0;
  margin-left: 19px;
  width: 37%;
  height: 215px;
}

.btn-ubah {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  border-radius: 0;
  margin-top: -8px;
  margin-left: 4px;
}

.menu-list .active {
  background-color: #e07a54;
}

.menu-list .active a {
  color: rgba(255, 255, 255, 0.7) !important;
}

.jml-buku {
  height: 100px;
  width: 250px;
  background-color: #dd4c39;
  margin: -5px 0 0 10px;
}

.jml-buku .row {
  margin-bottom: 1px;
}

.jml-buku .col-md-4 i {
  font-size: 60px;
  color: #bd3f30;
  margin: 10px -20px;
}

.jml-buku h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-buku p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-buku a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #bc402f;
}

.jml-buku a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #cc4230;
}

.jml-user {
  height: 100px;
  width: 250px;
  background-color: #00c0ee;
  margin: -5px 0 0 4px;
}

.jml-user .row {
  margin-bottom: 1px;
}

.jml-user .col-md-4 i {
  font-size: 60px;
  color: #00add7;
  margin: 10px -20px;
}

.jml-user h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-user p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-user a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #00add7;
}

.jml-user a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #20b3d8;
}

.jml-peminjaman {
  height: 100px;
  width: 250px;
  background-color: #00a65a;
  margin: -5px 0 0 0;
}

.jml-peminjaman .row {
  margin-bottom: 1px;
}

.jml-peminjaman .col-md-4 i {
  font-size: 60px;
  color: #009551;
  margin: 10px -20px;
}

.jml-peminjaman h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-peminjaman p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-peminjaman a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #009551;
}

.jml-peminjaman a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #059b57;
}

.jml-pengembalian {
  height: 100px;
  width: 250px;
  background-color: #f39c11;
  margin: -5px 0 0 -5px;
}

.jml-pengembalian .row {
  margin-bottom: 1px;
}

.jml-pengembalian .col-md-4 i {
  font-size: 60px;
  color: #da8c10;
  margin: 10px -20px;
}

.jml-pengembalian h1 {
  color: white;
  margin: 10px 0 0 40px;
}

.jml-pengembalian p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  margin: -5px 0 0 40px;
}

.jml-pengembalian a {
  color: white;
  font-size: 12px;
  padding: 3px 103px;
  background-color: #da8c10;
}

.jml-pengembalian a:hover {
  color: rgba(255, 255, 255, 0.7);
  background-color: #e49619;
}

.daftar-jumlah {
  background-color: #f8f8f8;
  padding: 30px 0;
  margin-top: -16px;
}

.week-report img{
  width: 85%;
  margin-top: 30px;
}

.week-report h4 {
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  padding: 5px 25px;
  border-radius: 0 0 0 43px;
}

.week-report h1 {
  font-size: 70px;
  margin: 45px 0;
  letter-spacing: 5px;
  text-align: center;
  color: #535353;
}

.week-report span {
  font-size: 13px;
}

.week-report h5 {
  text-align: center;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
  padding: 5px;
  border-radius: 34px 0 0 0;
  margin-bottom: 0;
}

.week-report{
  background:linear-gradient(90deg, #ffffff 0%, #f9f9f9 50%, #f2f2f2 71%, #e9e9e9 100%);
}

.grf-peminjaman {
  margin: 30px 10px;
}

.grf-peminjaman-img img {
  width: 70%;
  margin: 93px 619px;
}

.table-daftar-buku {
  margin-left: -6px;
}

.btn-daftar-buku {
  border-radius: 0;
  margin: -35px 0 -35px 0px;
}

.btn-export {
  margin-bottom: -40px;
  background: linear-gradient(90deg, #263e4a 12%, #2b5279 76%, #263e4a 100%);
  color: white;
}

.laporan-peminjaman-table a:first-child {
  margin-left: 185px !important;
}

.laporan-peminjaman-table div.dataTables_wrapper div.dataTables_length label {
  margin-top: -40px;
}

.laporan-peminjaman-table div.dataTables_wrapper div.dataTables_filter label {
  margin-top: -41px;
}

.prev {
  color: #bc542d !important;
}

.laporan-peminjaman-table a:hover {
  color: rgba(255, 255, 255, 0.7);
}

.sedang-dipinjam h3 {
  margin-left: 45px;
  color: #888888;
}

.sedang-dipinjam h1 {
  margin-left: 125px;
  color: #636363;
}

.sedang-dipinjam p {
  margin-left: 120px;
  font-size: 16px;
  color: #888888;
}