@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Yellowtail&family=PT+Sans&display=swap');

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.bg-blue {
  background-color: #243e4b;
}

.navbar-brand {
  margin: -20px 0 -8px 46%;
  color: white !important;
  font-family: 'Encode Sans SC', sans-serif;
  letter-spacing: 20px;
}

.navbar-brand>span {
  font-family: 'Yellowtail', cursive;
  letter-spacing: 7px;
  font-size: 40px;
}

.drop-logout {
  background-color: transparent;
  border: none;
  color: white;
  margin-right: 20px;
}

.sidenav {
  background-color: #bc542d;
  height: 100%;
  top: 0;
  width: 258px;
  position: fixed;
  left: 0;
}

.user-info img {
  width: 100%;
  margin: 20px 0 0 10px;
}

.user-info h5 {
  color: white;
  font-size: 18px;
  margin: 24px 0 -14px 0;
}

.user-info h6 {
  color: #bebbbb;
  font-size: 12px;
}

.user-info a {
  color: #544a4a;

}

.user-info a:hover {
  color: #747171;
}

.bi-box-arrow-in-left {
  margin-left: -68px;
  font-size: 18px;
}

.menu-list {
  margin-top: 30px;
}


.menu-list li {
  list-style-type:none;
  margin-left: -35px;
  padding: 10px 0 10px 20px;
}

.menu-list a {
  color: white;
}

.menu-list a:hover {
  color: #e2e2e2 !important;
}

.menu-list li:hover {
  background-color: #e07a55;
}

.menu-list i {
  font-size: 23px;
  margin-right: 5px;
}